<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="http://d30tvld8feguc2.cloudfront.net/latest/css/styles.css" media="all" />
        <link type="text/css" rel="stylesheet" href="{{ asset('build/app.css') }}" media="all" />
        {% block stylesheets %}{% endblock %}
        <style>
          .wrapper {
            padding: 1rem 2rem;
          }
        </style>

    </head>
    <body>
        {% block body %}{% endblock %}

        <!--- JS -->
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
