{% extends 'base.html.twig' %}

{% block title %}Marvel Favourites List{% endblock %}

{% block body %}
<style>

</style>

{% include 'nav.html.twig' %}
{% include 'tabs.html.twig' %}

<div class="wrapper">

  <div class="row">
    <div class="columns text-center">
      <h2 style="border-bottom: 1px solid #eeeeee; margin-bottom: 15px; ">Favourites List</h2>
    </div>
  </div>

  <div class="row">
    {% for favourite in favourites %}
        <div class="columns medium-2" style="float: left;">
          <a href="/characters/{{ favourite['id'] }}">
            <div class="card">
              <div class="card-divider">
                {{ favourite['name'] }}
              </div>
              <img style="height: 200px;"
                src="{{ favourite['thumbnail']['path'] }}.{{ favourite['thumbnail']['extension'] }}">
            </div>
          </a>
        </div>
    {% else %}
        <div class="columns medium-8 medium-offset-2 text-center">
          <h3 class="subheader">Loading Favourites..</h3>
        </div>
    {% endfor %}
  </div>

</div> <!-- ./container -->

{% include 'footer.html.twig' %}

{% endblock %}
