{% extends 'base.html.twig' %}

{% block title %}Marvel API{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}
{% include 'tabs.html.twig' %}

<div class="wrapper">
  <div class="row">
    <div class="columns large-8 large-offset-2">
      <div class="card" style="width: 100%">
        <div class="card-section">
          <p>Please select from the above tabs</p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- ./container -->

{% include 'footer.html.twig' %}

{% endblock %}
