{% extends 'base.html.twig' %}

{% block title %}Marvel API - Login{% endblock %}

{% block body %}
<style>

</style>

<div class="wrapper">

  <div class="row">
    <div class="columns text-center">
      <h2 style="border-bottom: 1px solid #eeeeee; margin-bottom: 15px; ">Marvel API: Login</h2>
    </div>
  </div>

</div> <!-- ./container -->
{% endblock %}
