<div class="top-bar">
  <div class="top-bar-left" style="width:100%; text-align:center;">
    <ul class="menu">
      <li><a href="/home" class="button hollow">Home</a></li>
      <li><a href="/characters" class="button hollow">Characters</a></li>
      <li style="float: right;"><a href="/logout" class="button alert">Logout</a></li>
    </ul>
  </div>
</div>