<div id="logo-bar">
  <div id="logo-bar-content">
    <div class="columns large-8 large-offset-2 text-center">
      <h2 class="app-title">
        <a class="app-title-link" rel="home" title="Marvel API" href="/">
          MARVEL API
        </a>
      </h2>
    </div>
  </div>
</div>