{% extends 'base.html.twig' %}

{% block title %}Marvel Character List{% endblock %}

{% block body %}
<style>

</style>

<div class="container">

  <div class="row">
    <div class="columns text-center">
      <h2>Marvel Character List</h2>
    </div>
  </div>

  <div class="row">
    {% for character in characters %}
        <div class="columns medium-4">
          <div class="card">
            <div class="card-divider">
              {{ character }}
            </div>
            <div class="card-section">
              <h4>This is a card.</h4>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
            </div>
          </div>
        </div>
    {% else %}
        <div class="columns medium-8 medium-offset-2 text-center">
          <h3 class="subheader">Loading Characters..</h3>
        </div>
    {% endfor %}
  </div>

</div> <!-- ./container -->
{% endblock %}
