# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mysql
    database_port: 3306
    database_name: marvel
    database_user: root
    database_password: qwerty
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: APP_SECRET
    marvel_private_key: MARVEL_PRIVATE_KEY
    marvel_public_key: MARVEL_PUBLIC_KEY
