{% extends 'base.html.twig' %}

{% block title %}Marvel API - Login{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

<div class="wrapper">

  <div class="page">
    <div class="page__content" style="margin-top: 2rem">

      <div class="row">
        <div class="columns medium-6 medium-offset-3">

          <h1 class="page__title">Please Login</h1>
          {% if error %}
              <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          <form action="{{ path('login') }}" method="post" class="form">
              <label for="username">Username:</label>
              <input type="text" id="username" name="_username" value="{{ last_username }}" />

              <label for="password">Password:</label>
              <input type="password" id="password" name="_password" />

              <button type="submit" class="button hollow">login</button>
              <a href="/register" class="button hollow secondary float-right">register</a>
          </form>

        </div> <!-- ./columns -->
      </div> <!-- ./row -->

    </div> <!-- ./page__content -->
  </div> <!-- ./page -->

</div> <!-- ./container -->
{% endblock %}
