{% extends 'base.html.twig' %}

{% block title %}Marvel API - Register{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

<div class="wrapper">

  <div class="page">
    <div class="page__content" style="margin-top: 2rem">

        <div class="row">
          <div class="columns medium-6 medium-offset-3">

            <h1 class="page__title">Register</h1>

            {% if errors %}
                <div>{{ errors }}</div>
            {% endif %}

            <form action="{{ path('register') }}" method="post" class="form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" />

                <label for="username">Password:</label>
                <input type="text" id="password" name="_password" />

                <button type="submit" class="button hollow">register</button>
            </form>

          </div> <!-- ./columns -->
        </div> <!-- ./row -->

    </div> <!-- ./page__content -->
  </div> <!-- ./page -->


</div> <!-- ./container -->
{% endblock %}
